.newsletter__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 100px;
    padding: 12px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px;
   
    .newsletter__text {
        text-align: center;
        font-family: 'Inter';
        font-size: 14px;
        line-height: 18px;

        &>p {
            font-weight: 400;
            color: $white;
        }
    }

    .newsletter__subcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;

        &>label {
            color: $whiteFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &>input {
            margin: 15px auto 15px auto;
            width: 80%;


        }

        &>.btn {
            border: 0;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            font-weight: 600;
            font-size: 16px;

            border-radius: 10px;
          padding: 10px;
            background: linear-gradient(90deg, $golden, $whiteFF, $rust);
            
        }


    }
}