.footer__container--gamegogsmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    .gamegogs__block {
        display: flex;
        flex-direction: column;
        width : 100%;
    }


    .gamegogsmenu__about,
    .gamegogsmenu__help,
    .gamegogsmenu__join {
        display: none;
        flex-direction: column;
        width: 100%;

        &.active {
            display: flex;
        }
    }


    .gamegogs__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px;

        img {
            width: 20px;
            height: 20px;
        }

        &>p {
            font-weight: 400;
            padding-bottom: 10px;
        }

        .down {
            rotate: 180deg;
            transition: 100ms ease-in-out;
        }
    }

    .gamegogsmenu__li {

        text-align: center;
        margin-bottom: 15px;
        border-bottom: 1px solid $cream-alpha;

        &>p {
            font-size: 12px;
        }
    }
}

@media screen and (min-width:744px) {


    .footer__container--gamegogsmenu {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;

        .gamegogsmenu__about,
        .gamegogsmenu__help,
        .gamegogsmenu__join {
            display: flex;
            align-items: flex-start;
            margin-left: 15px;

        }

        .gamegogsmenu__li {
            border-bottom: 0px;
        }

        .gamegogs__title {
            justify-content: flex-start;

            img {
                display: none;
            }
            &>p {
                padding-bottom: 0px;
            }
        }
    }
}

@media screen and (min-width : 1280px) {
    .footer__container--gamegogsmenu {
        width: 75%;
    }
}