.overlay__maincontainer {
    position: absolute;
    z-index: 3;

    display: flex;
    flex-direction: column;
    width: 99%;
    height: fit-content;
    top: -14px;
    left: -1000px;
   
    border: 1px solid $black;
    margin: 2px 0;

    transition: 300ms ease-in-out;

    &.show {
        left: 0px;
        transition: 300ms ease-in-out;
    }
}

.overlay__box--filter {
    margin-bottom: 40px;
    padding: 10px;

    .title__filter {
        margin-bottom: 5px;
        background-color: $black;
        border-radius: 5px;
        padding: 4px;

        &>h2 {
            font-family: 'Inter';
            font-size: 22px;
            font-weight: 600;
            line-height: 27px;
            color: $golden;
            
        }
    }


    .list__filter--box {


        .filters-box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .name_filter {
                &>p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 27px;
                    color: $black;
                }
            }

            .quantity_filter {

                &>p {
                    font-size: 12px;
                    color: $black;
                }
            }
        }
    }
}

@media screen and (min-width : 744px) {

    .overlay__maincontainer {

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        top: -78px;
        left: -2160px;
        

        .overlay__box--filter {
            width: 30%;

        }

    }

}