body {
    position: relative;
    z-index: -10;
    min-width: 360px;
    // width: fit-content;
    color: $cream;
    overflow-x: hidden;
}

header {
    position: fixed;
}

p {
    color: $cream;
    font-family: Inter;
    font-size: 16px;
    font-weight: 200;
}

input {
    height: 30px;
    background-color: $white;
    border-radius:  5px;
    transition: 300ms ease-in-out;
    margin-bottom: 10px;

    &:focus-visible {
        height: 35px;
        font-size: 1.2rem;
        transition: 300ms ease-in-out;
        border-color: $cream;
    }
}

h3 {
    margin-top: 10px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5rem;
}


h4 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
}
h6 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    font-style: italic;
}

.black-bg {
    background-color: $black;
}

.white-bg {
    background-color: $white;
}

.whiteFF-bg {
    background-color: $whiteFF;
}

.cream-alpha-color {
    color: $cream-alpha;
}

.bluedark-color {
    color : $bluedark;
}

.green-color {
    color: $green !important;
}

.main__container {
    position: relative;
    z-index: -3;
}

.underline {
    cursor: pointer;
    text-decoration: underline;
}

.btn {
    cursor: pointer;
    margin: 4px;
    padding: 8px;
    background-color: #383838;
    height: fit-content;
    border-radius: 5px;

    &:hover {
        background-color: #4a4a4a;
    }
}


#logState {
    background-color: rgb(148, 137, 137);
    padding: 10px;
    border: 1px solid #b4a2a2;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  #logState p {
    margin: 0;
  }
  
  #logState .connected {
    color: green !important;
  }
  
  #logState .not-connected {
    color: red !important;
  }

  .hidden__view,
.hidden__form,
.hidden__notif {
    display: none !important;
}




@media screen and (min-width:1280px) {

    .header__container--burger,
    .profilarrow,
    .collection {
        cursor: pointer;
    }
}

