// Fonts variables

@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}


// text and background color
    $black: #222222 ;
    $white: #EEEEEE ;
    $grey: #cacaca;
    $bluedark: #2400ff;
    $cream: #FBF4A1 ;
    $cream-alpha: #fbf3a163 ;
    $green : #289800;
    $orange : #9c5e00;
    $red : #9e0000;

// color used for linear gradient buttons
    $golden: #a79300;
    $whiteFF: #FFFFFF;
    $rust: #b87700;

    
